.Icon {
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #026cdf;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  padding: 13px 29px 13px 29px;
  border: none;
  text-decoration: none;
}

.contanier {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 1064px;
  margin: auto;
}

.contanier2 {
  width: 1064px;
  margin: auto;
  margin-top: 150px;
  color: #ffffff;
}

.event {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.data {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.background {
  display: grid;
  grid-template-columns: repeat(2, 490px); 
  gap: 15px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.participants {
  width: 100%; 
  border-bottom: 2px solid #1e1d23;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
}


.end{
  margin: auto;
  width: 1064px;
  left: 0;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
}

.space{
  margin-left: 24px;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .contanier {
    width: 100%; /* Make it full width for responsiveness */
    max-width: none; /* Remove the maximum width for smaller screens */
  }

  .contanier2 {
    width: 100%; /* Make it full width for responsiveness */
    max-width: none; /* Remove the maximum width for smaller screens */
    margin-top: 50px; /* Increase top margin for spacing */
  }

  .event {
    flex-direction: column; /* Stack the event title and Edit button in a column layout on mobile */
    align-items: center; /* Center the content horizontally */
  }

  .data {
    flex-direction: column; 
    align-items: center;
    width: 100%;
  }

  .flex{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
  }

  .space {
    margin-left: 0; 
  }

  .participants {
    flex-direction: row; 
    align-items: center;
    border-bottom: 2px solid #1e1d23;
    padding-bottom: 8px;
  }

  .end {
    width: 340px; 
    max-width: none; 
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  .background {
  grid-template-columns: repeat(1, 340px); 
}
.about{
  margin: 0 auto;
  width: 340px;
}
}


